*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height:6ovmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #ffffc7;
    color:#b0413e;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 10vmin;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

#reset{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #E8E4E6;
    background-color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.msg{
   
    color: #ffffc7;
    font-size: 2.5rem;
   
}

.msg-con{
    position: absolute;
    top: 40%;
    left: 50%;
    height:150px ;
    width: 350px ;
    transform: translate(-50%, -50%);
    background-color: #b0413e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: black 2px solid;
    padding: 1rem, 1rem, 1rem, 1rem;
}
.hide{
    display: none;
}